# Common Files
.DS_Store
.project
.pydevproject
.settings
.coverage
.vagrant*
*.pyc
rcfile.*
!*.example
*#*
*~*
nosetests.xml
build/
docs/_build
*.backup*

# Project Files
.idea

# Flask instance files
instance/*

# Javascript libs
statement2db/static/lib/*
